@using GP_MVC.Models
@model Year
@{
    ViewData["Title"] = "Create Year";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="br-pagetitle">
    <h3 class="text-info mr-3">Add New Year</h3>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-layout form-layout-4">
                    <form method="post" asp-action="Create" asp-controller="Year" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">Year Name: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Year Name" required>
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div><!-- row -->

                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">Year Index: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Index" type="number" class="form-control" placeholder="Year Index" required>
                                <span class="text-danger" asp-validation-for="Index"></span>
                            </div>
                        </div><!-- row -->

                        <div class="form-layout-footer mg-t-30 text-center">
                            <input type="submit" value="Add" class="btn btn-info">
                            <a asp-action="Index" asp-controller="Year" class="btn btn-secondary">Back</a>
                        </div><!-- form-layout-footer -->
                    </form>
                </div><!-- form-layout -->
            </div>
        </div><!-- row -->
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage) {
                alert(errorMessage);
            }
        });
    </script>
}
