@model int

<td>
    <div class="btn-group" role="group">
        
       @* <a class="btn btn-success text-white mr-2" asp-action="Details" asp-route-Id="@Model">
            <i class="fas fa-list-alt"></i>
        </a>*@
        <a asp-action="Delete" asp-route-Id="@Model" onclick="return confirm('هل انت متأكد من الحذف')" class="btn btn-danger text-white mr-2">
            <i class="fas fa-trash-alt"></i>
        </a>
        <a class="btn btn-primary text-white mr-2" asp-action="Edit" asp-route-Id="@Model">
            <i class="fas fa-edit"></i>
        </a>
    </div>
</td>
